/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes timerAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.timer-animation .timer-text {
  position: relative;
  display: inline-block;
  transition: transform 1s, opacity 0.2s;
  animation: timerAnimation 1s ease-in-out;
}

.border-gradient {
  background-image: linear-gradient(to right, #00f, #ff6fad);
  border-image: linear-gradient(to right, #81138a, #00f);
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
}